.macbook-pro {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .macbook-pro .div {
    background-color: #ffffff;
    height: 2446px;
    position: relative;
    width: 4275px;
  }
  
  .macbook-pro .overlap {
    height: 2002px;
    left: 0;
    position: absolute;
    top: 0;
    width: 4275px;
  }
  
  .macbook-pro .overlap-group {
    height: 1914px;
    left: 0;
    position: absolute;
    top: 88px;
    width: 4275px;
  }
  
  .macbook-pro .text-wrapper {
    color: #ffffff;
    font-family: "Dela Gothic One-Regular", Helvetica;
    font-size: 75px;
    font-weight: 400;
    left: 203px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1020px;
    width: 1209px;
  }
  
  .macbook-pro .p {
    color: #ffffff;
    font-family: "Dela Gothic One-Regular", Helvetica;
    font-size: 80px;
    font-weight: 400;
    left: 203px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 480px;
    width: 1902px;
  }
  
  .macbook-pro .quem-somos {
    color: #000000;
    font-family: "Dela Gothic One-Regular", Helvetica;
    font-size: 50px;
    font-weight: 400;
    left: 3766px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 509px;
  }
  
  .macbook-pro .rectangle {
    height: 1724px;
    left: 0;
    position: absolute;
    top: 190px;
    width: 4275px;
  }
  
  .macbook-pro .text-wrapper-2 {
    color: #ffffff;
    font-family: "Dela Gothic One-Regular", Helvetica;
    font-size: 120px;
    font-weight: 400;
    left: 203px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 369px;
    width: 1098px;
  }
  
  .macbook-pro .text-wrapper-3 {
    color: #ffffff;
    font-family: "Dela Gothic One-Regular", Helvetica;
    font-size: 75px;
    font-weight: 400;
    left: 203px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1251px;
    width: 1209px;
  }
  
  .macbook-pro .text-wrapper-4 {
    color: #ffffff;
    font-family: "Dela Gothic One-Regular", Helvetica;
    font-size: 80px;
    font-weight: 400;
    left: 203px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 711px;
    width: 1902px;
  }
  
  .macbook-pro .result {
    height: 1755px;
    left: 2543px;
    object-fit: cover;
    position: absolute;
    top: 159px;
    width: 1690px;
  }
  
  .macbook-pro .text-wrapper-5 {
    color: #5483bf;
    font-family: "Dela Gothic One-Regular", Helvetica;
    font-size: 70px;
    font-weight: 400;
    left: 203px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 76px;
    width: 377px;
  }
  
  .macbook-pro .icones-de-vetor-de {
    height: 193px;
    left: 26px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 177px;
  }
  
  .macbook-pro .overlap-2 {
    background-color: #73b2d9bf;
    height: 444px;
    left: 0;
    position: absolute;
    top: 2002px;
    width: 4275px;
  }
  
  .macbook-pro .overlap-3 {
    border-radius: 50px;
    height: 229px;
    left: 60px;
    position: absolute;
    top: 107px;
    width: 713px;
  }
  
  .macbook-pro .rectangle-2 {
    background-color: #d9d9d9;
    border-radius: 50px;
    height: 229px;
    left: 0;
    position: absolute;
    top: 0;
    width: 713px;
  }
  
  .macbook-pro .text-wrapper-6 {
    color: #000000;
    font-family: "Dela Gothic One-Regular", Helvetica;
    font-size: 50px;
    font-weight: 400;
    left: 228px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 78px;
  }
  
  .macbook-pro .overlap-4 {
    border-radius: 50px;
    height: 229px;
    left: 3479px;
    position: absolute;
    top: 107px;
    width: 713px;
  }
  
  .macbook-pro .text-wrapper-7 {
    color: #000000;
    font-family: "Dela Gothic One-Regular", Helvetica;
    font-size: 50px;
    font-weight: 400;
    left: 189px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 74px;
  }
  
  .macbook-pro .overlap-5 {
    border-radius: 50px;
    height: 229px;
    left: 2630px;
    position: absolute;
    top: 107px;
    width: 713px;
  }
  
  .macbook-pro .text-wrapper-8 {
    color: #000000;
    font-family: "Dela Gothic One-Regular", Helvetica;
    font-size: 50px;
    font-weight: 400;
    left: 63px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 74px;
    width: 588px;
  }
  
  .macbook-pro .overlap-6 {
    border-radius: 50px;
    height: 229px;
    left: 1769px;
    position: absolute;
    top: 107px;
    width: 713px;
  }
  
  .macbook-pro .text-wrapper-9 {
    color: #000000;
    font-family: "Dela Gothic One-Regular", Helvetica;
    font-size: 50px;
    font-weight: 400;
    left: 120px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 74px;
  }
  
  .macbook-pro .overlap-7 {
    border-radius: 50px;
    height: 229px;
    left: 909px;
    position: absolute;
    top: 107px;
    width: 713px;
  }
  
  .macbook-pro .text-wrapper-10 {
    color: #000000;
    font-family: "Dela Gothic One-Regular", Helvetica;
    font-size: 50px;
    font-weight: 400;
    left: 179px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 74px;
  }
  